@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';

.board {
    width: 380px;
    height: 60px;
    background-color: $color-primary;
    padding: 12px 10px;
    @extend %pointer;
    @extend %border-radius;
    @include flex(row, space-between, center);
    color: $color-light;
    @extend %font-primary;
    @include font(normal, 400, $font-size-standart);
}

.board-title {
    @extend %width100;
}

.boards-buttons-wrapper {
    @include flex(row, space-between, center);
    column-gap: 8px;
}
