@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';
@import '../Board/Board.scss';

.board-tasks-button-wrapper {
    @extend %width100;
    @include flex(row, space-between, center);
    column-gap: 10px;
}

.board-tasks-title {
    color: $color-dark;
    @extend %font-primary;
    @include font(normal, 400, 2.5rem);
    margin: 0 10px;
}

.board-tasks-title-skeleton {
    width: 60%;
    height: 40px;
    background-color: $color-additional-dark;
    @extend %border-radius;
}

.board-tasks-buttons {
    width: 160px;
}

.content-wrapper {
    width: 1160px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.column-wrapper {
    @include flex(row, flex-start, flex-start);
    gap: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    min-width: max-content;

    &::-webkit-scrollbar {
        height: 4px;
        background: $color-light;
    };
    &::-webkit-scrollbar-thumb {
        background: $color-primary;
        border-radius: 15px;
    }
}

@media (max-width: 1199px) {
  .content-wrapper {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .content-wrapper {
    width: 720px;
  }
}

@media (max-width: 767px) {
    .board-tasks-button-wrapper {
        @include flex(column, center, center);
        row-gap: 10px;
    }

    .board-tasks-title, .board-tasks-title-skeleton {
        order: 1;
    }

    .content-wrapper {
        max-width: 540px;
        overflow-x: auto;
    }
}

@media (max-width: 575px) {
  .content-wrapper {
    width: 300px;
    overflow-x: auto;
  }
}