@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';
@import '../Board/Board.scss';

.board-tasks-button-wrapper {
    @extend %width100;
    @include flex(row, space-between, center);
    column-gap: 10px;
}

.board-tasks-title {
    color: $color-dark;
    @extend %font-primary;
    @include font(normal, 400, 2.5rem);
    margin: 0 10px;
}

.board-tasks-buttons {
    width: 160px;
}

.column-wrapper {
    @extend %width100;
    @include flex(row, flex-start, flex-start);
    column-gap: 20px;
    overflow: auto;
    flex-wrap: nowrap;
}