@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';

.header {
    @include flex(row, space-between, center);
}

.buttons-wrapper {
    @include flex(row, flex-end, center);
    column-gap: 6px;
}

.burger {
    width: 24px;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: none;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    transition: .3s all linear;
}

.burger-line-first {
    top: 0;
}

.burger-line-second,
.burger-line-third{
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-out;
}

.burger-line-fourth {
    bottom: 0;
}

.burger_active .burger-line-first,
.burger_active .burger-line-fourth {
    opacity: 0;
}

.burger_active .burger-line-second {
    transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger-line-third {
    transform: translateY(-50%) rotate(-45deg);
}

.hidden-button {
    display: block;
}

@media (max-width: 767px) {
    .hidden {
		display: none;
	}

    .burger {
        display: block;
    }
}
