$color-primary:#5554C3;
$color-secondary:#D6F272;
$color-dark:#1B1B1B;
$color-additional-dark: #CCCCCC;
$color-background: #F2F2F2;
$color-header: #1B523D;
$color-light:#FFFFFF;
$color-additional:#4E52A6;
$color-error:#FF0215;

$font-size-standart: 1.6rem;
$font-weight-middle: 600;
$font-weight-bold: 900;
