%button-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

%pointer {
    cursor: pointer;
}

%border-radius {
    border-radius: 10px;
}

%width100 {
    width: 100%;
}

%font-for-logo {
    font-family: "Shadows Into Light", cursive;
}

%font-primary {
    font-family: "Poppins", sans-serif;
}
