@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';

@keyframes showSidenav {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.sidenav {
    @extend %border-radius;
    width: 300px;
    height: 100%;
    position: fixed;
    padding: 40px 20px 0 20px;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 60px;
    background-color: $color-primary;
    @include flex(column, flex-start, center);
    row-gap: 10px;
    transition: all .5s;
    animation: showSidenav .3s ease-out;
}

.sidenav-header {
    @extend %width100;
    @include flex(row, space-between, center);
    margin-bottom: 20px;
    & .sidenav-header-title {
        color: $color-light;
    };
    & .sidenav-header-username {
        color: $color-secondary;
    }
}

@media (max-width: 767px) {
	.sidenav {
		width: 100%;
        border-radius: 0;
	}

    .mobile-menu--button {
        width: 100%;
    }
}