@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';
@import '../Login/Login.scss';

.boards-page {
    @include flex(row, center, flex-start);
}

.boards-page-content {
    width: 100%;
    padding: 40px 0;
    @include flex(column, flex-start, center);
    row-gap: 30px;
    position: relative;
}