@import '../../sass/abstract/constants';
@import '../../sass/abstract/mixins';
@import '../../sass/abstract/placeholders';
@import '../../sass/buttons';

.login-page {
	background-color: $color-background;
}

.login-content {
    @include flex(row, center, center);
    padding: 40px 0;
}

.login-form {
	@include flex(column, space-between, center);
	@extend %border-radius;
    width: 400px;
    padding: 30px;
    background-color: $color-light;
}

.login-header {
    @extend %font-primary;
    @include font(normal, 600, 2.6rem);
    color: $color-header;
}

.form-subtitle {
    @include flex(row, space-between, center);
	column-gap: 8px;
	margin-bottom: 10px;
}

.form-link {
    color: $color-primary;
    @extend %pointer;
}

.login-button {
    width: 160px;
    margin-top: 20px;
}